&.info-box {
	// $horizontal-padding: 14px;

	$padding: 10px 13px 9px;

	border: 1px solid transparent;

	&.has-title {
		border-color: $d60;
		border-radius: 4px;
	}

	.title-container {
		background: $d70;
		color: $d20;
		padding: $padding;
		user-select: none;
		border-bottom: 1px solid $d60;
	}

	.body-container {
		padding: $padding;

		padding-bottom: 8px;

		.toggle-expand {
			display: block;
			margin-left: auto;
		}
	}

	& + & {
		margin-top: 10px;
	}
}
