& {
	width: 40px;
	height: 40px;
	position: relative;
	margin: auto;

	&.centered {
		position: absolute;
		right: 0;
		left: 0;
		top: 50%;
		margin-top: -100px;
	}

	.loader-inner {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: $gray-d80;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;
		
		-webkit-animation: loader-bounce 2.0s infinite ease-in-out;
		animation: loader-bounce 2.0s infinite ease-in-out;

		&.delayed {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}
	}

	@-webkit-keyframes loader-bounce {
		0%, 100% { -webkit-transform: scale(0.0) }
		50% { -webkit-transform: scale(1.0) }
	}

	@keyframes loader-bounce {
		0%, 100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		}
		50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}
}