& {
	&.text {
		margin: 0;
		color: $d30;
	}

	&.description-text {
		color: $d40;
	}

	&.light-description-text {
		color: $secondary-l20;
		font-weight: 300;
	}

	// &.ellipsis-text {
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;

	// 	> * {
	// 		@include ellipsis-line();
	// 	}
	// }
}
