
& {
	justify-content: center;
	display: flex;

	.page.text {
		padding: 0 3px;
		margin: 0 13px;
		cursor: pointer;
		color: $d20;

		&:hover {
			border-bottom: 1px solid $b10;
			color: $b10;
		}

		&.current {
			border-bottom: 2px solid $b10;
			color: $b10;
			font-weight: 500px;
		}
	}
	.divider.text {
		color: $d20;
		cursor: default;
		padding: 0 5px;
	}
	.icon {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin: -1px 7px 0;
		color: $b10;

		&:hover:not(.disabled) {
			cursor: pointer;
			background-color: $b40;
		}
		&.disabled {
			color: $gr20;
		}
	}
	.arrow-pagination {

		display: flex;
	}
}
