&.static-label {
    display: flex;
    align-content: center;

    &.medium,
    &.small {
        border: solid 1px;
        height: 17px;
        border-radius: 4px;
        padding: 0px 5px;
        text-align: center;
        font-weight: 500;
        font-size: 10px;
    }

    &.info {
        border: solid 1px $b10;
        background: $b10;
        color: $white;
    }

    &.neutralicon,
    &.neutral {
        border: solid 1px $d60;
        background: none;
        color: $d40;
    }

    &.neutralicon {
        display: flex;
        align-items: center;

        > .icon {
            padding-left: 3px;
        }
    }
}
