
$time-menu-width: 80px;

& {
	display: inline-flex;
	position: relative;

	.aul.input {
		width: $time-menu-width;

		.input-field {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			padding-left: 14px;
		}
	}

	.toggle-options-button {
		color: $primary;
		cursor: pointer;
		position: absolute;
		display: flex;
		align-items: center;
		right: 40px;
		height: 100%;
		padding: 0 5px;
	}

	.time-options-menu {
		position: absolute;
		top: 100%;
		width: $time-menu-width;
		max-height: 240px;
		overflow: auto;
		text-align: left;
		border: 1px solid $secondary-d50;
		border-top: 0;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: $white;
		z-index: 999;

		.time-option {
			color: $d30;
			padding: 9px 14px;
			cursor: pointer;

			&:hover {
				background: $primary-b50;
			}

			&.selected {
				color: $white;
				background: $primary;
			}
		}
	}

	.period {
		border-radius: 0 4px 4px 0;
		background: $white;
		border: 1px solid $secondary-d50;
		border-left: 0;
		padding: 9px;
		cursor: pointer;
		color: $primary;
		user-select: none;

		&:hover {
			background: $primary-b50;
		}

		&:active {
			background: $primary-b60;
		}
	}

	&.is-focused,
	&.dd-open {
		.period {
			border-color: $primary;
		}

		.time-options-menu {
			border-color: $primary;
		}

		.aul.input .input-field {
			border-color: $primary;
		}
	}

	&.dd-open {
		.aul.input .input-field {
			border-bottom-left-radius: 0;
		}
	}
}